@model Projet_Jeu_Role.Models.Situation

<dl class="row">
				<dt class="col-sm-2">
								@Html.DisplayFor(m => m.SituationName)
								<br/>
								@Html.DisplayFor(m => m.SituationDescription)
					</dt>
				<dt class="col-sm-10">
					<p>Vous avez fini le jeu !</p>				
				</dt>
</dl>
