@{
    ViewData["Title"] = "Accueil";
}

 <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Bienvenue</h1>
        <p class="lead">Pour commencer à jouer, veuillez vous connecter et créer votre premier personnage.</p>
    </div>
</div>
